@import url('https://fonts.googleapis.com/css?family=Oswald|sans-serif&display=swap');

@media screen {}

* {
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* baseline body styling */
body {
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containerz {
   height: 100vh;
   width: 97vw;
   overflow:auto;
   overflow-x:hidden;
   display: flex;
   flex-wrap: wrap;
}


/* hero image and text */ 
#hero-outer {
   height: 120%;
   flex: 1 0 240px;
   width: 100%;
   overflow: hidden;
   position: relative;

}

#hero-image {
   height: 100%;
   width: 100%;
   background: url("../images/pexels-andrea-piacquadio-866021a.avif") no-repeat center center;
   animation: hero-fade-in 6s;
   background-size: cover;
   /* animate home page */
}

/* fade-in for hero image */
@keyframes hero-fade-in {
   0% {
      opacity: 0.5;
   }

   100% {
      opacity: 1;
   }
}


#welcome-text {
   letter-spacing: 0.1rem;
   padding: 1.5rem;
   background-color: rgb(64, 47, 95);
   position: absolute;
   top: 5%;
   margin: 5%;
   width: auto;

   text-align: center;
   color: white;
   text-transform: uppercase;
   opacity: 85%;
}


#welcome-text2 {
   padding: 1.5rem;
   background-color:  rgb(27, 67, 10);
   position: relative;
   top: 5%;
   margin: 5%;
   width:auto;
   text-align: center;
   color: white;
   opacity: 85%;
}


#welcome-text h2 {
   color: white;
   font-size: 110%;
}

#welcome-text h3 {
   color: white;
   font-size: 150%;
   line-height: 1;

}

header {
   height: 150px;
   flex: 1 0 100%;
   color: white;
   background-color: #694077;
}

nav {
   padding: 10px;
}

#refinfo {
   letter-spacing: 0.1rem;
   padding: 1.5rem;
   background-color:  rgb(27, 67, 10);
   position: relative;
   top: 5%;
   left: 5%;
   right: 5%;
   bottom: 5%;
   text-align: center;
   color: white;
   opacity: 65%;
   width: 80%;
}

#needinfo {
   letter-spacing: 0.1rem;
   padding: 1.5rem;
   background-color:  rgb(27, 67, 10);
   position: relative;
   top: 5%;
   left: 5%;
   right: 5%;
   bottom: 5%;
   text-align: center;
   color: white;
   opacity: 75%;
   width: 80%;
}

#needinfo2 {
   letter-spacing: 0.1rem;
   padding: .5rem;
   background-color:  rgb(27, 67, 10);
   position: relative;
   top: 2%;
   left: 15%;

   text-align: center;
   color: white;
   opacity: 75%;
   width: 70%;
}


.sectionc {
   flex: 1 0 300px;
   color: black;
   margin: 10px;
   scroll-behavior: auto;
   background-color: rgb(165, 115, 179);
   padding: 10px;
   background-size: cover;
}

#jclassheader {
   background: url("../images/pexels-elina-fairytale-3822121a.avif") no-repeat top center;
   height: 100%;
   position: relative;
   width: 100%;
   background-size: cover;
 }

.sectionr {
   background: url("../images/reformers2l.png") no-repeat top center;
   height: 100%;
   flex: 1 0 250px;
   color: black;
   background-color: rgb(165, 115, 179);
   font-size: large;
   margin: 10px;
   padding: 15px;
   background-size: cover;
}

.sectionp {
   background: url("../images/reformerpl.png") no-repeat top center;
   height: 100%;
   flex: 1 0 250px;
   color: black;
   background-color: rgb(165, 115, 179);
   font-size: large;
   margin: 10px;
   padding: 15px;
   background-size: cover;
}


section {
   height: 100%;
   flex: 1 0 200px;
   color: white;
   margin: 20px;
}


aside {
   background: url("../images/pexels-elina-fairytale-3822121a.avif") no-repeat top center;
   height: 120%;
   flex: 1 0 240px;
   color: black;
   background-color: rgb(165, 115, 179);
   margin: 20px;
   overflow: hidden;
   font-size: large;
   background-size: cover;
}

#aside-one {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#menu {
   font-size: 125%;
   font-weight: 500;
   letter-spacing: 0.25rem;
   padding: 20px;
}

#menu,
#sp-logo {
   line-height: 3rem;
}

#sp-logo {
   text-align: center;
   margin-left: 1.8rem;
}

#menu li {
   float: left;
   list-style-type: none;
   margin-right: 1.6rem;
}

#menu a {
   text-decoration: none;
   color: inherit;
}

#menu a:hover {
   border-bottom: 0.05rem solid rgb(64, 47, 95);
}

#classmenu li {
   list-style-type: none;
   margin-left: 1rem;
   text-align: center;
   /* center align buttons */
   color: white;
}

#classmenu a {
   text-decoration: none;
   color: inherit;
}

#classmenu a:hover {
   border-bottom: 0.1rem solid rgb(64, 47, 95);
   color: rgb(27, 67, 10);
}

/* headings styling  */
h1 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   letter-spacing: 0.10em;
   color: rgb(96, 16, 114);
}

h2 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   letter-spacing: 0.10em;
   color: white;
   text-align: center;
}


/* anchor styling */
a {
   text-decoration: none;
   height: 40px;
   width: 40px;
}


/* anchor h1 styling */
a h1 {
   text-align: center;
   text-decoration: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   letter-spacing: 0.30em;
   color: white;
   height: 3rem;
}

/* anchor h1 hover styling */
a h1:hover {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color:  black;
}

footer {
   text-align: center;
   background-color: #355879;
   color: white;
   margin: 15px;
   padding: 0;
   letter-spacing: normal;
   list-style-type: none;
   bottom: 0;
   left: 0;
   height: 250px;
   position: relative;
   width: 100%;
}

footer a {
   color: white
}

#footer-group {
   text-align: center;
   padding-top: .5rem;
   margin: 5px;
}

#disclaimer {
   clear: both;
   text-align: center;
   padding: 1.8rem;
   color: white;
}


#footer-left-panel {
   font-size: large;
   float: left;
   text-align: left;
   margin: 10px;
}

#footer-right-panel {
   font-size: large;
   float: right;
   text-align: left;
   margin: 10px;
}

#footer-center-panel {
   font-size: large;
   display: inline-block;
   margin: 50px auto;
   text-align: left;
}

#hours-group {
   text-align: center;
   margin:5%;
   position: relative;
   float: left;
   left:10%;
}


#hours-center-panel {
   display:inherit;
   background-color: #694077;
   width: 90%;
   margin: 10%;
   padding: 20%;
   text-align: center;
   color: #76DB57;
   font-size: xx-large;
}


.footer-text {
   font-size: 90%;
   font-weight: 600;
}

ul li {
   list-style-type: none;
}

.social-networks {
   text-align: left;
}


.social-networks>li {
   display: inline;
}


.social-networks i {
   font-size: 100%;
   margin: 0.5rem;
   color: white;
}


/* styling for the contact form */
#contact-section {
   background-image: url("../images/sm-mat-pexels-alexy-almond-3756527.png");
   background-repeat: repeat;
   background-size: contain;
   background-position: top;
   width: 95%;
   overflow: auto;
   overflow-x: hidden;
   min-height: 60rem;
}

#contact-panel-container {
   width: 75rem;
   margin: 3.7rem auto;
}

.contact-panel {
   text-align: left;
   font-weight: 600;
   letter-spacing: 0.07rem;
   color: white;
   font-size: 100%;
   background-color: rgb(165, 115, 179);
   border-radius: 10px;
   padding: 1.8rem;
   
}

.contact-panel h2 {
   text-transform: uppercase;
   font-size: 180%;
   padding-bottom: 1.25rem;
}

#contact-panel-left {
   width: 30rem;
   float: left;
   padding: 1rem;
   opacity: 0.85;
   height: 55rem;
}

#contact-panel-right {
   width: 37.5rem;
   opacity: 0.85;
   padding: 1rem;
   float: right;
   height: 55rem;
}

.text-input {
   /* contact message boxes */
   font-family: Oswald;
   font-size: 100%;
   font-weight: 900;
   width: 95%;
   color: rgb(27, 67, 10);
   margin: 0.3rem 0 1.3rem 0;
   border: 0.07rem solid rgb(215, 154, 229);
   border-radius: 2px;
   padding: 0.3rem;
   letter-spacing: 0.07rem;
}

.text-input:hover {
   border-color: black;
}

.text-input-line {
   height: 1.8rem;
}

.text-input-box {
   height: 5rem;
   resize: none;
}

.radio-label {
   margin-right: 0.6rem;
}

#location-map {
   width: 100%;
   height: 22rem;
}

#location-iframe {
   width: 100%;
   height: 400px;
   border: none;
   scroll-behavior: unset;
   margin: 0;
}

#classvideo {
   margin: auto;
   padding: 10px;
   border: 10px;
   letter-spacing: 10px;
   bottom: 0;
   left: 0;
   height: 50rem;
   position: relative;
   display: block;
}

#codeinstframe {
   margin: 0px;
   padding: 0px;
   border: 0px;
   bottom: 0;
   left: 0;
   position: relative;
}

#video-iframe {
   width: 100%;
   height: 100%;
   margin: 10px;
}

#needdetails {
   text-align: center;
   margin: 10px;
   display: block;
   width: 95%;
   height: 500px;
   overflow: hidden;
}

#needdetails2 {
   text-align: center;
   margin: 10px;
   display: block;
   width: 100%;
   height: 500px;

}

.needframe {
   flex-grow: 1;
   border: none;
   margin: 0;
   padding: 0;
   height: 400px;
   width: 90%
}

.button {
   background-color: rgb(64, 47, 95);
   border: solid 2px;
   color: white;
   padding: 1.3rem;
   text-align: center;
   text-size-adjust: auto;
   width: 75%;
   height: fit-content;
   text-decoration: none;
   display: inline-block;
   font-size: 1rem;
   border-radius: 10px;
   font-weight: bold;
   box-shadow: 0.3rem 0.6rem rgb(215, 154, 229);
   margin-top: 1.5rem;
   text-shadow: none;
   opacity: 1;
}

.button:hover {
   background-color: rgb(165, 115, 179);
}


/* Screen sizes from 1200px wide or above */
@media screen {
   #menu {
      clear: left;
      float: left;
      margin-left: .25rem;
      margin-bottom: .75rem;
      line-height: .50rem;
      width: 100%;
   }
}

/* Screen sizes from 1200px wide or below */
@media screen and (max-width: 1200px) {
   #menu {
      clear: left;
      float: left;
      margin-left: .75rem;
      margin-bottom: .75rem;
      line-height: .50rem;
      width: 95%;
   }

   footer {
      height: 300px;
   }

   #contact-panel-container {
      width: 100%;
      height: 100%;
   }

   #contact-panel-left {
      float: none;
      margin: auto;
      padding: 30px;
      height: 100%;
   }

   #contact-panel-right {
      float: none;
      margin: 4.8rem auto;
      height: 70%;
   }

}

/* Screen sizes from 780px wide or below */
@media screen and (max-width: 780px) {
   * {
      margin: 0;
      padding: 0;
   }

   .sectionc, .sectionp, .sectionr {
      margin: 0;
      padding: 0;
   }

   #menu {
      clear: left;
      float: left;
      margin-left: .25rem;
      margin-bottom: .25rem;
      line-height: 2rem;
      width: 90%;
   }

   h1 {
      font-size: 150%;
   }

   h2 {
      font-size: medium;
   }

   #footer-right-panel {
      float: left;
      text-align: left;
      margin: 10px;
   }

   #footer-center-panel {
      float:left;
      text-align: left;
      margin: 10px;
   }

   footer {
      height: 400px;
   }

   #contact-panel-left {
      width: 70%;
   }

   #contact-panel-right {
      width: 70%;
      height: 85%;
   }
}

/* Screen sizes from 470px wide or below */
@media screen and (max-width: 470px) {

   * {
      margin: 0;
      padding: 0;
   }
   #menu {
      clear: left;
      float: left;
      margin-left: 1rem;
      margin-bottom: 1rem;
      line-height: 3rem;
      width: 80%;
   }

   .sectionc, .sectionp, .sectionr {
      margin: auto;
      padding: 0;
   }

   header {
      height: 200px;
   }

   h1 {
      letter-spacing: normal;
   }

   /* anchor h1 styling */
   a h1 {
      text-align: left;
      letter-spacing: 0.05em;
   }


   #contact-section {
      min-height: 60rem;
   }
 
   #hours-center-panel {
      font-size: x-large;
   }
   
}

/* Screen sizes from 330px wide or below */
@media screen and (max-width: 330px) {
   * {
      margin: 0;
      padding: 0;
   }

   needinfo2{
      left:0;
   }

   header {
      height: 250px;
   }
   
   footer {
      height: 500px;
   }

   #contact-section {
      min-height: 130rem;
   }
   
   #contact-panel-container{
      height:fit-content ;
   }

   .contact-panel {
      height: 350rem;
   }

   #hours-center-panel {
      font-size: large;
   }

}