@import url('https://fonts.googleapis.com/css?family=Oswald|sans-serif&display=swap');

/* baseline body styling */
body{
    margin:1em;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

/* headings styling */
h1 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   letter-spacing: 0.30em;
   color: orange;
   text-align: center;
}

/* anchor styling */
a {
    text-decoration: none;
}


/* anchor h1 styling */
a h1 {
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.30em;
    color: rgb(40, 63, 40);
    height: 1.5em;
 }
 
 /* anchor h1 hover styling */
 a h1:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.20em;
    color: red;
 }
 
 footer{
    text-align: center;
    background-color: red;
    color: rgb(55, 163, 27);
    margin:0;
    padding:5px 0 5px 0;
    letter-spacing: 10px;
    bottom: 0; 
    left: 0;
    position: absolute;
    width: 100%;
}
